<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check calculations</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="checkbox" {{ checked }} name="group_by_name" value="on">
        <input type="date" name="start" value="{{ start }}">
        <input type="date" name="end" value="{{ end }}">
        <button type="submit">Submit</button>
    </form>
    <div>
        {% for ct in results %}
        <div class="ct">
            {{ ct.tuple__work_date }} -
            {% if ct.tuple__name %}
                {{ ct.tuple__name }} -
            {% endif %}
            {{ ct.hms }}
        </div>
        {% endfor %}
    </div>
</body>
</html>