<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload file</title>
</head>
<body>
    <div style="color: red">
    {% if errors %}
        {% for key, error in errors %}
            <div>{{key}}: {{error}}</div>
        {% endfor %}
    {% endif %}
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>